In [1]:
from pycaret.regression import *
from pycaret.datasets import get_data

In [2]:
data = get_data("diamond")

   Carat Weight    Cut Color Clarity Polish Symmetry Report  Price
0          1.10  Ideal     H     SI1     VG       EX    GIA   5169
1          0.83  Ideal     H     VS1     ID       ID   AGSL   3470
2          0.85  Ideal     H     SI1     EX       EX    GIA   3183
3          0.91  Ideal     E     SI1     VG       VG    GIA   4370
4          0.83  Ideal     G     SI1     EX       EX    GIA   3171

In [3]:
data.tail()

,Carat Weight,Cut,Color,Clarity,Polish,Symmetry,Report,Price
5995,1.03,Ideal,D,SI1,EX,EX,GIA,6250
5996,1.00,Very Good,D,SI1,VG,VG,GIA,5328
5997,1.02,Ideal,D,SI1,EX,EX,GIA,6157
5998,1.27,Signature-Ideal,G,VS1,EX,EX,GIA,11206
5999,2.19,Ideal,E,VS1,EX,EX,GIA,30507

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Carat Weight  6000 non-null   float64
 1   Cut           6000 non-null   object
 2   Color         6000 non-null   object
 3   Clarity       6000 non-null   object
 4   Polish        6000 non-null   object
 5   Symmetry      6000 non-null   object
 6   Report        6000 non-null   object
 7   Price         6000 non-null   int64
dtypes: float64(1), int64(1), object(6)
memory usage: 375.1+ KB

In [5]:
data.columns

Index(['Carat Weight', 'Cut', 'Color', 'Clarity', 'Polish', 'Symmetry',
       'Report', 'Price'],
      dtype='object')

In [6]:
data.describe()

       Carat Weight          Price
count   6000.000000    6000.000000
mean       1.334520   11791.579333
std        0.475696   10184.350051
min        0.750000    2184.000000
25%        1.000000    5150.500000
50%        1.130000    7857.000000
75%        1.590000   15036.500000
max        2.910000  101561.000000

In [8]:
data.index

RangeIndex(start=0, stop=6000, step=1)

In [9]:
data.isna().sum()

Carat Weight    0
Cut             0
Color           0
Clarity         0
Polish          0
Symmetry        0
Report          0
Price           0
dtype: int64

In [11]:
train = data.sample(frac=0.9,random_state=88)

In [16]:
test = data.drop(train.index)

In [17]:
train.shape

(5400, 8)

In [18]:
test.shape

(600, 8)

In [19]:
train.reset_index(drop=True,inplace=True)

In [20]:
test.reset_index(drop=True,inplace=True)

In [21]:
rg = setup(data=train,target='Price')

In [22]:
best_model = compare_models()

In [23]:
print(best_model)

ExtraTreesRegressor(n_jobs=-1, random_state=710)

In [24]:
rf = create_model('rf')

In [26]:
pred = predict_model(rf,data=test)

In [28]:
pred

,Carat Weight,Cut,Color,Clarity,Polish,Symmetry,Report,Price,prediction_label
0,1.50,Fair,F,SI1,VG,VG,GIA,10450,10842.438333
1,0.80,Very Good,F,VS1,EX,G,GIA,3559,3845.800000
2,0.90,Good,H,SI1,VG,G,GIA,3485,3302.455000
3,1.01,Ideal,E,VVS2,EX,EX,GIA,9735,10308.560476
4,1.01,Signature-Ideal,D,VVS2,ID,ID,AGSL,12996,11191.560000
...,...,...,...,...,...,...,...,...,...
595,1.42,Very Good,I,VS1,G,G,GIA,6894,8869.630000
596,1.00,Ideal,I,SI1,VG,EX,GIA,4602,4563.653333
597,2.20,Ideal,G,VS2,EX,VG,GIA,26538,26918.062500
598,2.05,Good,G,VS1,G,VG,GIA,26297,26421.619000
599,1.17,Ideal,F,VVS2,ID,ID,AGSL,10929,10676.943167

In [27]:
from pycaret.utils.generic import check_metric

In [29]:
check_metric(pred["Price"],pred["prediction_label"],metric="R2")

0.9615

In [30]:
rf_tuned = tune_model(rf)

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [31]:
pred2 = predict_model(rf_tuned,data=test)

In [32]:
check_metric(pred2["Price"],pred2["prediction_label"],metric="R2")

0.9615

In [ ]:
save_model(rf_tunded,"RandomForest")

In [ ]:
saved_model = load_model("RandomForest")